body {
  padding-top: 45px;
  /*background: #F0FFF0;*/
  font-family: "AlrightSans","Helvetica Neue","Helvetica","Arial","Source Han Sans SC","Hiragino Sans GB","Microsoft YaHei","Microsoft JhengHei",sans-serif;
  -webkit-font-smoothing: antialiased;
}


.section { margin: 1em 0;}
.num-zone { margin-right: 0.35em;}
.cell { margin: 0 2em; }


article {
  padding: 1em 0;
}


/* ------- Font ------- */
.font-sm {
  font-size: 0.8em;
}
.font-md {
  font-size: 0.9em;
}
.font-lg {
  font-size: 1.1em;
}

.font-xg {
  font-size: 4em;
}

.section {
  padding: 0.5em 0;
}

.product-image {
  height: 12em;
  object-fit: contain;
  overflow: hidden;
}


/* ------- main frame ------ */
#main_frame {
  min-height: 500px;
}



.pull-down {
    position: absolute;
    bottom: 0;
}

.form-group .pull-down {
  right: 15px;
}

.form-sm {
  width: 30em;
}


div.division{
  margin: 1.5em 0;
}
p.division {
  margin: 0.5em 0;
}

span.division {
  margin: 0 0.615em;
}
span.half-division {
  margin: 0 0.5em;
}

label.required::after {
  content:    " *";
  color:      red;
}

.readonly label::after {
  content:    "";
}

/* 前面与后面各退半步，留出空间 */
.backstep {
  margin: 0 0.5em;
}


/* ----- 画框 ------- */
.border-box {
  border: 1px dashed #DDD;
}

.border-box-line {
  border: 1px solid #DDD;
}

.border-bottom {
  padding: 0 0 0.2em 0;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #DDD;
}



.subtitle {
  margin-bottom: 1em;
}
p.first {
  margin-top: 1em;
}

.large {
  font-size: 150%;
}

.space-after {
  margin-right: 1em;
}


/* ngFileUpload */
.drop-box {
  background: #F8F8F8;
  border: 1px dashed #DDD;
  width: 200px;
  height: 60px;
  text-align: center;
  padding: 1em;
  margin-left: 0px;
  font-size: 80%;
  cursor: pointer;
}

.drop-box.dragover {
  border: 5px dashed blue;
}

.drop-box.dragover-err {
  border: 5px dashed red;
}


div#dashboard
{
  background: url(img/face-1.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.carousel-caption {
  text-align: left;
}



/* Rating */
.rating{
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}

ul.rating {
  display: inline-block;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.rating .filled {
  color: #21568b;
}

/* Image is gray */
.gray{
  -webkit-filter:grayscale(80%);
  -o-filter:grayscale(80%);
  -moz-filter:grayscale(80%);
  -ms-filter:grayscale(80%);
  filter:grayscale(80%);
  -moz-opacity: 0.6;
  opacity:0.6;
}


/* ng-sortable */

.as-sortable-item,
.as-sortable-placeholder {
    display: inline-block;
    border: 0;
    width: 120px;
    float: left;
    margin: 0 1em;
}
.as-sortable-item img {
  width: 120px;
  height: 74px;
}

#sortable-container {
    display: inline-block;
}



/* ------ adjust bootstrap ------ */
.page-header {
  padding-bottom: 0;
}
