body,html{
	height: 100%;
	font-family: "Verdana","Microsoft YaHei";
	background-color: #fff;
}

input[type='submit']{
	font-family: "Verdana","Microsoft YaHei";
}

textarea, input{
	padding: 8px 10px !important;
}

select{
	height: 35px;
	padding: 6px 5px  6px 10px;
}

a{
	cursor: pointer;
}
/*---------footer--------------------*/
#footer{
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;	
	background-color: #474544;
	height: 40px;
	line-height: 39px;
	border-top: 1px solid #525151;
}

#footer p {
	color: #fff;
	text-align: center;
	margin: 0;
}

.default{
  background-color: #f9f9f9;
}

.nav-app{
	position: fixed;
	height: 40px;
	line-height: 40px;
	border: 1px solid #eaeaea;
	background-color: #f2f2f2;
	padding: 0 10px;
	right: 0;
	left: 0;
	top: 40px;
}

.navbar{
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	height: 40px !important;
	min-height: 40px;
}

.navbar .navbar-brand{
	padding: 5px 0 0 0;
}

.nav-app .app-center{
	float: right;
	top: -2px;
}

.nav-app .app-center img{
	width: 30px;
	height: 30px;
}

.nav-app ul{
	float: left;
	margin-right: 40px;
}

.nav-app li{
	border-right: 1px solid #eaeaea;
	position: relative;
	margin-right: 10px;
	padding-left: 0;
	padding-right: 10px;
}

.nav-app ul li img{
	width: 16px;
	height: 16px;
	margin-right: 5px;
}

.nav-app ul li a{
	display: block;
	
	color: #393939;
	text-decoration: none;
}

.nav-app li a:hover{
	color: #2A6496 !important;

}

.nav-app li i{
	cursor: pointer;
	color: #ccc;
}

.nav-app li i:hover{
	color: #dd5a43;
}

.ul-app li{
	margin: 5px 20px 5px 0;
	width: 60px;
	height: 70px;
	vertical-align: top;
	text-align: center;
	position: relative;
}

.ul-app li a{
	font-size: 12px;
	display: block;
	color: #555;
}

.ul-app li a:hover{
	text-decoration: none;
}

.ul-app li a img{
	width: 50px;
	height: 50px;
	border: 0px;
	margin-bottom: 5px;
}

.ul-app li .setting-group{
	display: block;
	position: absolute;
	width: 20px;
	height: 50px;
	right: -13px;
	top: -3px;
}

.ul-app li .setting-group a{
	padding: 0;
	color: #4f99c6;
}

i{
	margin-right: 3px;
}

.table-noborder,.table-noborder tbody>tr>td,.table-noborder tbody>tr>th{
	border: 0 none;
}

.table-mini tbody>tr>td,.table-mini tbody>tr>th{
	padding: 5px 8px;
}

.main-container{
	position: relative;
	bottom: 0;
	top: 40px;
	left: 0;
	right: 0;
	bottom: 0px;
}

.main-content{
	position: relative;
	right: 0;
	left: 0;
	top: 80px;
	bottom: 5px;
  margin-left: 0 !important;
}

.page-content{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: auto;
	padding-top: 0;
	padding: 0 20px;
}

.page-header h3,.page-header h2,.page-header h1{
	margin: 0;
	padding: 0;
}

.page-header{
	
	height: 60px;
	line-height: 60px;
	font-size: 21px;
}

.page-header input{
	line-height: 18px;
}

/*----------------form-mini--------------------*/
.form-mini{
	width: 70%;
}

.form-mini .form-group label{
	width: 11%;
	display: inline-block;
	float: left;
}

.form-mini .form-group input,.form-mini .form-group textarea,.form-mini .form-group select{
	width: 50%;
	margin-left: 10px;
	float: left;
}

.form-mini .form-group .alert{
	padding: 5px 10px;
	margin: 0;
	margin-left: 10px;
}

/*  temp  */


.form-group > label[class*="col-"]{
	padding-top: 8px;
}

h4{font-family: "宋体"}

.alert-default{
	background-color: #f5f5f5;
	color: #999;
	border: 1px solid #eaeaea;
}

.add-app{
	padding: 0;
	width: 70px !important;
	border: 1px dashed #ccc;
}

.add-app a{
	color: #969696;
	padding: 18px 5px;
}

.add-app:hover{
	background-color: #4f99c6;
}

.add-app:hover a{
	color: #fff;
}

.add-app a i{
	font-size: 18px;
}

.add-app a p{
	margin: 0;
}

.widget-organ .tab-content{
	padding: 15px 0;
}

.organ-tree>ul>li:first-child{
	padding-left: 0;
}

div[data-tree-model] li .selected {
	background-color: #4f99c6 !important;
	font-weight: normal !important;
	color: #fff;
}

address p{
	margin-bottom: 5px;
	color: #666;
}

.alert{
	padding: 10px;
}

.pagination{
	margin: 0;
}

.input-line{
	border: 0 none !important;
	border-bottom: 1px solid #eaeaea !important;
}

ul li,ol li{
	line-height: 23px;
}

.navbar-brand{
	padding: 0;
}

.sidebar{
	padding-top: 15px;
	border-bottom: 1px solid #3a3633 !important;
}

.sidebar ul li a{
	padding-left: 10px !important;
	
}

.sidebar .sidebar-toggle {
	top: 50%;
	left: 179px;
	z-index: 1000;
}
.sidebar.menu-min .sidebar-toggle{
	left: 32px !important;
}

.nav-list > li > a > .menu-icon{
	display: none;
}

.nav-list > li > a {
	height: 35px;
	line-height: 13px;
}

.group-panel{
	position: relative;
	margin-bottom: 20px;
	border: 1px solid #eaeaea;
}

.group-panel .group-title{
	font-size: 14px;
	padding: 0 5px;
	background-color: #fff;
	position: absolute;
	top: -10px;
	left: 10px;
}

.group-panel .group-body{
	padding: 15px 15px 5px 15px;
}

.group-panel .group-body .form-horizontal{
	padding: 0 12px;
}

ul li a{
	color: #666 !important;
}

.switch-body{
	height: 100px;
	overflow: hidden;
}

.switch-on,.switch-off{
	background-color: #6fb3e0;
	border-color: #579ec8;
	color: #fff;
	border-radius: 100%;
	font-size: 14px;
	padding: 0 5px;
	position: absolute;
	cursor: pointer;
	margin: 0;
	line-height: 18px;
	right: 20px;
	bottom: 20px;
}

.content{
  margin: 0.5em 0.5em;
}



/* -------------------------- */
li.active {
    padding: 0.5em;
    background-color: #428bca !important;
}

li.active a {
    color: #fff !important;
}    




