<div class="well">
  <form name="createForm" class="form-horizontal" role="form"
        ng-submit="send('user.edit', user_new);">

    <div class="form-group">
      <label class="col-sm-2 control-label required">真实姓名</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="user_new.name" required>
      </div>
    </div>


    <div class="form-group">
      <label class="col-sm-2 control-label">电子邮件</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="user_new.mail">
      </div>
    </div>


    <div class="form-group">
      <label class="col-sm-2 control-label">手机号码</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="user_new.mobile">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <input class="btn btn-primary" type="submit" ng-disabled="createForm.$invalid"/>
        或者
        <a ui-sref="setting.user">取消</a>
      </div>
    </div>
  </form>
</div>

<hr>
