<!-- <div class="nav-app">
  <ul class="nav nav-tabs" role="tablist" ng-init="send('module.query', {})">
    <li role="presentation" ng-repeat="app in cloap.app_index" ng-class="{'active': cloap.current_module == app.appid}">
      <a href ng-click="send('app.module', {id: app.appid});">
        {{app.name}}
      </a>
    </li>
    <li role="presentation" ng-show="cloap.admin">
      <a href ng-click="switch_admin();">
        系统管理
      </a>
    </li>
  </ul>
</div>
 -->

<div class="section">
  <div ui-view></div>
</div>