<ul class="nav nav-pills" role="tablist">
  <li role="presentation" ui-sref-active="active">
    <a ui-sref=".config"><i class="fa fa-gears"></i> 系统配置</a>
  </li>

  <li role="presentation" ui-sref-active="active">
    <a ui-sref=".app"><i class="fa fa-shopping-cart"></i> 应用商店</a>
  </li>
  <li role="presentation" ui-sref-active="active">
    <a ui-sref=".uddi"><i class="fa fa-puzzle-piece"></i> 服务注册</a>
  </li>
  <li role="presentation" ui-sref-active="active">
    <a ui-sref=".user"><i class="fa fa-group"></i> 注册用户</a>
  </li>
  <li role="presentation" ui-sref-active="active">
    <a ui-sref=".organ"><i class="fa fa-cubes"></i> 组织机构</a>
  </li>
  <li role="presentation" ui-sref-active="active">
    <a ui-sref=".job"><i class="fa fa-wrench"></i> 工作分配</a>
  </li>
  <li role="presentation" ui-sref-active="active">
    <a ui-sref=".acl"><i class="fa fa-key"></i> 用户权限</a>
  </li>
  <li role="presentation" ui-sref-active="active">
    <a ui-sref=".action_log"><i class="fa fa-file-text"></i> 操作日志</a>
  </li>
</ul>

<div class="section">
  <div ui-view></div>
</div>
