<div class="panel panel-default">
  <div class="panel-body">
    <div class="page-header">
      <b><i class="fa fa-gears num-zone"></i>系统参数配置</b>
    </div>

    <div class="row"><div class="col-lg-8 col-md-8 col-sm-10">

    <div class="alert alert-danger" ng-if="sysconfig.title == undefined">
      <span>第一次使用集成平台，请您填写必要的系统参数。</span>
    </div>

    <div ng-form="form" novalidate>
      <div smart-form-group target="form.title" label="平台标题" required="true" prefix="book">
        <input type="text" class="form-control" 
               name="title" ng-model="config.title"
               placeholder="例：某某企业云办公集成平台"
               autofocus required>
        <div class="help-block" ng-messages="form.title.$error">
          <div ng-message="required">请填写平台标题，此为必填项</div>
        </div>
      </div>

      <div smart-form-group target="form.copyright" label="版权信息" required="true" prefix="copyright">
        <input type="text" class="form-control" 
               name="copyright" ng-model="config.copyright"
               placeholder="例：成都软创互联科技有限公司，2014-2015"
               required>
        <div class="help-block" ng-messages="form.copyright.$error">
          <div ng-message="required">请注明版权信息，此为必填项</div>
        </div>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-sm btn-primary" ng-disabled="form.$invalid" ng-click="send('admin.sysconfig.update', config)">提交</button>
        <small class="cell" ng-if="sysconfig.title != undefined">
          <a ui-sref="cloap.setting">取消</a>
        </small>
      </div>
    </div>
    </div></div>
  </div>
</div>
