<div class="alert alert-danger" ng-form="form" novalidate>
  <div class="border-bottom">
    <b>删除机构</b>
  </div>

  <article>
    <div class="panel panel-default">
      <div class="panel-body">
        <i class="fa fa-unlink pull-left font-xg num-zone"></i>

        <div class="col-lg-8 col-md-8 col-sm-8">
          <p class="border-bottom"><b class="font-lg" ng-bind="organ.label"></b> 将被删除，你是否确认?</p>
          <button type="submit" class="btn btn-sm btn-primary" ui-sref="^">返回，暂不删除</button>
          <a href class="cell font-md text-danger" ng-click="send('organ.destroy', {id: organ.id})">是的，删除！</a>
        </div>
      </div>
    </div>    
  </article>
</div>
