<div class="alert alert-info" ng-form="form" novalidate>
  <div class="border-bottom">
    <b>修改机构名称</b>
  </div>

  <article>
    <div smart-form-group target="form.name" label="机构名称" required="true" prefix="book">
      <input type="text" class="form-control" 
             name="name" ng-model="elem.name"
             placeholder="例：某某部室"
             autofocus required>
      <div class="help-block" ng-messages="form.name.$error">
        <div ng-message="required">请填写机构名称，此为必填项</div>
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-sm btn-primary" ng-disabled="form.$invalid" ng-click="send('organ.update', {id: organ.id, name: elem.name})">修改机构名称</button>
      <a class="cell font-md" ui-sref="^">取消</a>
    </div>    
  </article>
</div>
