<div class="alert alert-info" ng-form="form" novalidate>
  <div class="border-bottom">
    <b>新增职员</b>
  </div>

  <article>
    <div smart-form-group target="form.id" label="员工编号" required="false" prefix="book">
      <input type="text" class="form-control"
             name="id" ng-model="elem.id"
             placeholder="员工唯一编号，如：A000001；没有可不填"
             autofocus>
      <div class="help-block" ng-messages="form.id.$error">
        <div ng-message="required">请填写员工编号，此为必填项</div>
      </div>
    </div>

    <div smart-form-group target="form.sn" label="姓" required="true" prefix="male">
      <input type="text" class="form-control"
             name="sn" ng-model="elem.sn"
             placeholder="职员的姓，如：张"
             required>
      <div class="help-block" ng-messages="form.sn.$error">
        <div ng-message="required">请填写职员姓名，此为必填项</div>
      </div>
    </div>

    <div smart-form-group target="form.cn" label="名" required="true" prefix="male">
      <input type="text" class="form-control"
             name="cn" ng-model="elem.cn"
             placeholder="职员的名，如：小明"
             required>
      <div class="help-block" ng-messages="form.cn.$error">
        <div ng-message="required">请填写职员姓名，此为必填项</div>
      </div>
    </div>

    <div smart-form-group target="form.mobile" label="手机号码" required="false" prefix="mobile">
      <input type="text" class="form-control"
             name="mobile" ng-model="elem.mobile"
             placeholder="例：13901234567"
             ng-pattern="/^1\d{10}$/">
      <div class="help-block" ng-messages="form.mobile.$error">
            <div ng-message="pattern">请输入11位真实手机号，必须全部为数字, 目前您输入的是 {{form.mobile.$viewValue.length}} 位</div>
      </div>
    </div>

    <div smart-form-group target="form.mail" label="电子邮箱" required="false" prefix="envelope-o">
      <input type="email" class="form-control"
             name="mail" ng-model="elem.mail"
             placeholder="例：someone@example.org">
      <div class="help-block" ng-messages="form.mail.$error">
            <div ng-message="email">电子邮件需要正确的格式，例如 someone@example.org</div>
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-sm btn-primary" ng-disabled="form.$invalid" ng-click="send('user.create', elem)">登记职员</button>
      <a class="cell font-md" ui-sref="^">取消</a>
    </div>
  </article>
</div>
