<div class="panel panel-default">
  <div class="panel-body">
    <div class="page-header">
      <b class="font-lg"><i class="fa fa-cubes num-zone"></i>组织机构管理</b>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 font-md" ng-init="send('organ.index', {})">
        <div class="panel panel-default">
          <div class="panel-body">
            <abn-tree 
              tree-data         = "organ_data"
              tree-control      = "organ_tree"
              icon-leaf         = "fa fa-cube"
              icon-expand       = "fa fa-plus"
              icon-collapse     = "fa fa-minus"
              on-select         = "organ_tree_handler(branch)">
            </abn-tree>
          </div>
        </div>
      </div>

      <div class="col-lg-8 col-md-8 col-sm-8">
        <div ui-view></div>
      </div>
    </div>
  </div>
</div>
