<div class="border-bottom">
    <span class="pull-right font-sm">
        <span ng-if="organ.id !== 'root'">
            <a ui-sref=".employee" class="text text-warning font-lg"><b><i class="fa fa-user-plus num-zone"></i>增加职员</b></a>
            <span class="division"></span>
        </span>

        <a ui-sref=".new"><i class="fa fa-plus num-zone"></i>增加下级机构</a>

        <span ng-if="organ.id !== 'root'">
            <span class="division"></span>
            <a ui-sref=".edit"><i class="fa fa-edit num-zone"></i>修改机构名称</a>
        </span>

        <span ng-if="organ.id !== 'root' && organ.children.length == 0">
            <span class="division"></span>
            <a ui-sref=".delete"><i class="fa fa-trash num-zone"></i>删除本机构</a>
        </span>
    </span>
    <i class="fa fa-cube num-zone"></i><b ng-bind="organ.label"></b>
</div>

<!-- 视图区 -->
<div ui-view></div>
<!-- 视图区 -->

<article class="font-md">
    <ng-switch on="organ.users.length">
        <div ng-switch-when="0" class="alert alert-warning">没有职员</div>
        <div ng-switch-default>
            <div class="alert alert-primary border-box">
                <header class="border-bottom">
                    <b>职员列表</b>
                </header>
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>编号</th>
                            <th>姓名</th>
                            <th>电话</th>
                            <th>邮箱</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="o in organ.users | orderBy:'id'">
                            <td ng-bind="$index + 1"></td>
                            <td ng-bind="o.id"></td>
                            <td ng-bind="o.display_name"></td>
                            <td ng-bind="o.mobile"></td>
                            <td ng-bind="o.mail"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </ng-switch>
</article>
